IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine : All
IndentCaseLabels: false
ColumnLimit: 0
NamespaceIndentation: All
PointerAlignment: Left